{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="row h1">
        <h1>Accueil</h1>
    </div>

    <div class="row information">
        <img src="{{ asset('assets/img/information.svg') }}" />
        <h2>Bienvenue sur Not Alone !</h2>
        <p>
        Tu peux commencer par personnaliser ton profil en
        cliquant sur l’avatar en bas à gauche.
        <br /><br />
        En bas à droite, tu retrouveras toutes tes actuelles
        et futures conversations.
        <br /><br />
        Maintenant, tu peux cliquer sur le bouton juste ici
        pour trouver un nouveau correspondant :
        </p>
    </div>

    <div class="row cta">
        <a href="{{ path('createConversation') }}" class="cta-button">C'est parti !</a>
    </div>

    {% if notice %}
        <div class="row notice">
            <p>
                Aucun nouveau correspondant disponible pour le moment.
                <br /><br />
                Merci de réessayer plus tard !
            </p>
        </div>
    {% endif %}

{% endblock %}
